.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (dark-mode: true) {
    .left_arrow {
        color: #DBFFFFFF;
    }

    .title {
        color: #DBFFFFFF;
    }
}

@media (device-type: wearable) {
    .container {
        padding-left: 26px;
        padding-right: 26px;
    }

    .wearable_upperPart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20%;
        padding-top: 6px;
    }

    .wearable_title {
        color: #FF004C;
        opacity: 0.86;
        font-size: 16px;
        text-align: center;
    }

    .wearable_version {
        color: #FFFFFF;
        opacity: 0.66;
        font-size: 12px;
        text-align: center;
    }

    .wearable_lowerPart {
        display: flex;
        height: 70%;
    }

    .list_container {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .list_item {
        padding-top: 5px;
        padding-bottom: 5px;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 33%;
    }

    .topic_name {
        font-weight: normal;
        color: #FFFFFF;
        font-size: 16px;
        text-align: center;
    }

    .dot {
        width: 10%;
        align-items: center;
        justify-content: center;
        padding-top: 18px;
    }
}

